{% extends "base.html" %}

{% load staticfiles %}
<link rel="stylesheet" href="{%static "css/about/about.css"%}">

{% block content %}

    <div class="jumbotron" align="center">
      <h1 class="display-4">About Us</h1>
      <p class="lead">Software Engineering class SFSU<br/>Fall 2018<br/>Section 2<br/>Team 10</p>
      <hr class="my-4">
      <div><a href="xinhuan_qiu">Xinhuan Qiu</a></div>
      <div><a href="zachary_martin">Zachary Martin</a></div>
      <div><a href="rong_huang">Rong Tian Huang</a></div>
      <div><a href="https://paulpowang-profile.herokuapp.com/myprofile/">PoHung Wang</a></div>
      <div><a href="jh_kuang">Jianhong Kuang</a></div>
      <div><a href="tolu">Toluwanimi Oyewumi</a></div>
      <div><a href="mario">Mario Marcos</a></div>
    </div>

{% endblock %}
