<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Tolu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <p>SFSU-Fulda Software Engineering Project CSC 648-848, Fall 2018.  For Demonstration Only</p>
    <div class="container-fluid bg-1 text-center">
      <h1 class="margin"><b>About Me</b></h1>
       <h3>Hello, My name is Toluwanimi Oyewumi but you can call me Tolu, pronounced Toe-Lou</h3>
      <a href="https://github.com/davisoye">
      <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" class="img-responsive img-circle margin" style="display:inline" width="120" height="120">
      </a>
    </div>

  </body>
</html>
